PORT=
MONGODB_URI=
JWT_SECRET=
JWT_EXPIRES_IN=
ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRES_IN=
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRES_IN=

# Nodemailer
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASS=

# Frontend base URL
CLIENT_URL=